* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-color: whitesmoke;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 15px;
    background-color: yellow;
    border: 5px solid black;
}

#content {
    display: flex;
    flex: 1;
}

#side-panel {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px;
    flex: 1;
    background-color: blueviolet;
    align-items: center;
    border-width: 0 5px 5px 5px;
    border-style: solid;

}

#side-panel p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: yellow;
    margin-bottom: 20px;
}

#side-panel button {
    width: 200px;
    font-size: 20px;
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 0 5px black;
}
 
#grid-panel {
    flex: 3;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: white;
}

.grid-row-style {
    display: flex;
}

.grid-cell-style {
    flex: 1;
    border: 1px solid gray;
    aspect-ratio: 1/1;
}

#side-panel .btn-highlight {
    background-color: rgb(79, 2, 118);
    color: yellow;
}
