* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 20px;
    background-color: yellow;
}

#content {
    flex: 1;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: yellow;
    border: 1px solid black;
}

.grid-row-style {
    background-color: white;
    display: flex;
}

.grid-cell-style {
    flex: 1;
    border: 1px solid black;
    aspect-ratio: 1/1;
}

